asgiref==3.2.10
dj-database-url==0.5.0
Django==3.1
django-configurations==2.2
django-crispy-forms==1.13.0
django-debug-toolbar==3.2.2
djangorestframework==3.12.4
Pillow==8.3.2
plotly==5.3.1
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
tenacity==8.0.1
XlsxWriter==3.0.1
