{% extends 'reviews/base.html' %}

{% block content %}
<h1>{{ book.title }}</h1>
<hr />
<div>
    {% if book.cover %}
        <img src="{{ book.cover.url }}" alt="Cover of {{ book.title }}"/><br />
    {% endif %}

    <span>Publisher:</span><span>{{ book.publisher }}</span><br />
    <span>Publication Date:</span><span>{{ book.publication_date }}</span><br />
    <span>Rating:</span><span>{{ book_rating }}</span><br />

    {% if book.sample %}
        <a href="{{ book.sample.url }}" class="btn btn-secondary">View Sample</a>
    {% endif %}
</div>

<h2>Reviews</h2>
{% if reviews %}
    <ul>
    {% for review in reviews %}
        <li>
            {{ review.date_created }} &middot; <span>{{ review.pretty_rating }}</span>
            {% if review.date_edited %}<br/> Last modified: {{ review.date_edited }}{% endif %}
            <p>{{review.content }}</p>
            &mdash; <span>{{ review.creator.email }}</span>
            {% if user.is_staff or user.id == review.creator.id %}
            <a href={% url 'review_edit' book.pk review.pk %}>Edit review</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    {% if user.is_authenticated %}
        <span>Provide a rating and write the first review for this book.</span><br />
    {% endif %}
{% endif %}

{% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'review_create' book.pk %}">Add Review</a> |
    <a class="btn btn-primary" href="{% url 'book_media_edit' book.pk %}">Edit Media</a>
{% endif %}

{% endblock %}