{% extends 'reviews/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {% if instance %}
        Editing {{ model_type }}, {{ instance }}
    {% else %}
        New {{ model_type }}
    {% endif %}
{% endblock title %}

{% block content %}
    <h2>
        {% if instance %}
            Editing {{ model_type }}, <em>{{ instance }}</em>
        {% else %}
            New {{ model_type }}
        {% endif %}
    </h2>

    {% if related_model_type and related_instance %}
        <p>For {{related_model_type}}, <em>{{related_instance}}</em>
    {% endif %}

    {% crispy form %}
{% endblock content %}
