<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Example Django Form!</title>
</head>
<body>
    <h1>Example Django Form!</h1>
    <!-- Ex 6.2: Print out method -->
    <h4>{{ method }}</h4>

    <form method="post">
        <!-- Ex 6.2: Print CSRF token -->
        {% csrf_token %}

        <!-- Ex 6.3: Use Django Forms -->
        {{ form.as_p }}

        <!-- Ex 6.1: Create the submit button in raw HTML -->
        <p>
            <input type="submit" name="submit_input" value="Submit"/>
        </p>
        <p>
            <button type="submit" name="button_element" value="Button Element">
                Button with <strong>Styled</strong> Text
            </button>
        </p>
    </form>
</body>
</html>